<div class="container">
    <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">

      <%= render partial: 'comments/form', locals: { comment: @comment, studysheet: @studysheet } %>

    </div>
  </div>
